.button {
  box-sizing: border-box;
  border-radius: 0.25rem;
  height: 40px;
  width: 100%;
  cursor: pointer;

  &:hover:not(:disabled) {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &:active:not(:disabled) {
    transform: scale(0.97);
  }

  &:disabled {
    background: var(--grey-disabled);
    color: var(--black);
    cursor: not-allowed;
    border: 1px solid var(--grey-disabled);
  }
}

.buttonPrimary {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}

.inverted {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

// .disabled {
//   background-color: var(--grey-light);
//   color: var(--grey);
//   cursor: not-allowed;
// }
