.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  z-index: 1000;
  background: var(--primary);
  padding: 0px 50px;
  display: flex;
  align-items: center;
}

.logo {
   object-fit: cover;
   height: 70%;
   cursor: pointer;
}


.title{
  margin-left: 20px;
}
