.card {
  background: var(--grey-light);
  border-radius: 1rem;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 350px;
  margin: 1rem auto;
  // transition: box-shadow 0.2s;
  padding: 0.5rem;
  // align-items: center;
  // justify-content: center;
}

.card:hover {
  // box-shadow: 0 4px 24px rgba(0,0,0,0.15);

}

.cardImage {
  width: 70%;
  object-fit: cover;
  background: var(--grey-light);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardContent {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cardSubtitle {
  font-size: var(--font-subtitle-M);
  color: var(--primary);
  margin: 0 0 0.5rem 0;
}

.cardFeatures {
  list-style: none;
  padding: 0;
  margin: 0 0 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  color: var(--black);
  font-size: var(--font-body-M);
}

.cardPrice {
  font-size: var(--font-title-S);
  color: var(--primary);
  font-weight: bold;
  margin-top: 0.5rem;
}
