.card {
  max-width: 70vw;
}

.carImage {
  width: 70%;
  object-fit: cover;
  background: var(--grey-light);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-body-L);
  color: var(--black);
  background: var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
