.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  z-index: 1000;
  background: var(--primary);
  display: flex;
  align-items: center;
}

.logoContainer{
  width: 80vw;
  margin: 0 auto;

}
.logo {
   object-fit: cover;
   height: 70%;
   cursor: pointer;

}


.title{
  margin-left: 20px;
}
