.card {
  background: var(--grey-light);
  border-radius: 1rem;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 350px;
  margin: 1rem auto;
  // padding: 1.5rem;
  // transition: box-shadow 0.2s;
  padding: 1rem;
  // align-items: center;
  // justify-content: center;
}

.cardTitle {
  margin:unset
}

.cardHeader {
  margin-bottom: 1rem
}

.cardContent{
  padding: 0 0.5rem;
}

.cardFooter {
  margin-top: 1rem
}