.carCard {
  max-width: 450px;
  min-width: 300px;
}

.carImage {
  width: 70%;
  object-fit: cover;
  background: var(--grey-light);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.price {
  font-weight: bold;
  margin-right: 0.25rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 640px) {
  .carCard {
    max-width: unset;
    min-width: unset;
  }
}
