@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './variables';

.title-XL {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-title-XL);
  line-height: var(--line-height-title-XL);
  color: var(--black);
}

.title-L {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-title-L);
  line-height: var(--line-height-title-L);
  color: var(--black);
}

.title-M {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-title-M);
  line-height: var(--line-height-title-M);
  color: var(--black);
}

.title-S {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-title-S);
  line-height: var(--line-height-title-S);
  color: var(--black);
}
.subtitle-XL {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-subtitle-XL);
  line-height: var(--line-height-subtitle-XL);
  color: var(--black);
}
.subtitle-L {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-subtitle-L);
  line-height: var(--line-height-subtitle-L);
  color: var(--black);
}
.subtitle-M {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-subtitle-M);
  line-height: var(--line-height-subtitle-M);
  color: var(--black);
}
.subtitle-S {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-subtitle-S);
  line-height: var(--line-height-subtitle-S);
  color: var(--black);
}
.body-L {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-body-L);
  line-height: var(--line-height-body-L);
  color: var(--black);
}
.body-M {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-body-M);
  line-height: var(--line-height-body-M);
  color: var(--black);
}
.body-S {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-body-S);
  line-height: var(--line-height-body-S);
  color: var(--black);
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

