:root {
  --font-title-XL: 3rem;
  --font-title-L: 2.625rem;
  --font-title-M: 2.25rem;
  --font-title-S: 2rem;
  --font-subtitle-XL: 1.75rem;
  --font-subtitle-L: 1.5rem;
  --font-subtitle-M: 1.25rem;
  --font-subtitle-S: 1.125rem;
  --font-body-L: 1rem;
  --font-body-M: 0.875rem;
  --font-body-S: 0.75rem;

  --line-height-title-XL: 4.063rem;
  --line-height-title-L: 3.563rem;
  --line-height-title-M: 3.063rem;
  --line-height-title-S: 2.688rem;
  --line-height-subtitle-XL: 2.375rem;
  --line-height-subtitle-L: 2.063rem;
  --line-height-subtitle-M: 2.688rem;
  --line-height-subtitle-S: 1.5rem;
  --line-height-body-L: 1.375rem;
  --line-height-body-M: 1.188rem;
  --line-height-body-S: 1.063rem;

  --primary: '#E6356F'
  --black: '#333333'
  --white: '#FFFFFF'
  --grey:'#EFEFEF'
  --grey-light:'#C7C7CD'

}